@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Santos<br />
    São Paulo,<br />
    <abbr title="Telefone">Tel:</abbr>
    13-981413144
</address>

<address>
    <strong>Contato:</strong>   <a href="mailto:carlos8eduardo@gmail.com">carlos8eduardo@gmail.com</a><br />
    <strong>Contato:</strong> <a href="mailto:rodrigo_rico8@hotmail.com">rodrigo_rico8@hotmail.com</a>
</address>