@{
    Layout = "";
}

@{
    var grid = new WebGrid(source: Model, canSort: true);
}



<div class="gridContainer">

    @if (Model == null)
    {
        return;
    }


    @grid.GetHtml(
        tableStyle: "table",
        headerStyle: "thead-inverse",
        columns:
            grid.Columns(
                grid.Column(columnName: "DtRegistroString", header: "REGISTRO", format: @<text>@item.DtRegistroString</text>),
                grid.Column(columnName: "CdLat", header: "LATITUDE", format: @<text>@item.CdLat</text>),
                grid.Column(columnName: "CdLng", header: "LONGITUDE", format: @<text>@item.CdLng</text>)
                )

        )
</div>


<script>
    var geocoder;

    function initMap() {
        geocoder = new google.maps.Geocoder;

    }


    function geocodeLatLng(latLang) {
        var input = latLang;
        var latlngStr = input.toString().split(',') ;

        console.log("lat: " + latlngStr[0])
        console.log("lng: " + latlngStr[1])
        var latlng = { lat: parseFloat(latlngStr[0]), lng: parseFloat(latlngStr[1]) };
        geocoder.geocode({ 'location': latlng }, function (results, status) {
            if (status === 'OK') {
                if (results[1]) {

                    console.log(results[1].formatted_address);
                } else {
                    window.alert('No results found');
                }
            } else {
                window.alert('Geocoder failed due to: ' + status);
            }
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAedrqfxnFQb4nSFF4EkRXi60sZ00774fI&callback=initMap">
</script>
